article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px; }

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.equalHMWrap {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.equalHM {
  width: calc(33% - 20px); }

.eq {
  padding: 0px; }

.hidden {
  color: white; }

.hide {
  color: white;
  display: none; }

.show {
  color: white;
  display: block; }

input:required {
  border-color: red !important; }

input:required + label {
  color: red; }

span.nested {
  position: relative; }

span.nested img {
  max-width: 25%;
  position: absolute;
  right: 25px;
  bottom: -30px; }

span.nested input[type=text]:focus + img.gps {
  display: none; }

label {
  display: block; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  line-height: 1.7; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  text-align: center; }

p {
  font-family: 'Droid Serif', serif; }

h1 {
  font-size: 82px;
  font-size: 8.2rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 50px;
  margin: 40px 0 45px 0; }

h2 {
  font-size: 52px;
  font-size: 5.2rem;
  color: #444444;
  line-height: 55px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 50px 0 0px 0; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #444444;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 22px;
  text-transform: uppercase;
  /* text-align: center; */
  /* margin: 0; */
  padding: 10px 0;
  vertical-align: middle; }

h4 {
  font-size: 10px;
  font-size: 1rem;
  color: #444444;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center; }

h5, h6 {
  font-size: 14px;
  font-size: 1.4rem;
  color: #F99D88;
  letter-spacing: 1px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0; }

h6 {
  padding: 0 0 20px 0; }

p.subText {
  /* Stop wasting time an: */
  font-size: 20px;
  font-size: 2rem;
  font-weight: 200;
  opacity: 0.69;
  padding: 0 0 50px 0;
  color: #EFFF9B;
  line-height: 26px; }

.show {
  text-align: center; }

b, strong {
  font-weight: 700;
  color: #F99D88; }

.counter p {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  color: #909C9A;
  line-height: 17px;
  margin: 30px 0 20px 0; }

header {
  /* Location of the image */
  background-image: url(../images/hero-banner.jpg);
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when 
	 the content height is greater than the image height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646; }

.topNav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 10px 10px 10px; }

.hamburger .fa {
  color: white;
  font-size: 24px; }

i.fa {
  transition: color 1s; }

i.fa:hover {
  color: #EFFF9B; }

.social {
  color: white; }
  .social ul {
    list-style-type: none; }
  .social li {
    display: inline-block;
    padding: 0 30px 0 0;
    font-size: 20px;
    margin: 0;
    line-height: 0px; }

#results {
  text-align: center; }

.hero {
  text-align: center; }

img.logo {
  max-width: 100%; }

.mainForm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.field1 {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0; }
  .field1 p.instructions {
    font-size: 10px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 15px;
    padding: 0 15px 0; }

.field2 {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0; }
  .field2 p.instructions {
    font-size: 10px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 15px;
    padding: 0 15px 0; }

.buttoncontainer {
  width: 100%;
  text-align: center;
  padding: 50px 0 100px 0; }

input:focus {
  border-style: solid;
  border-color: #F99D88; }

input.keywords, .location {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 40px;
  border-style: none;
  color: white;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0px;
  line-height: 18px;
  padding: 15px;
  margin: 0 20px 0 0;
  padding: 15px 70px 15px 20px;
  margin: 0 30px 0 0; }

.subText {
  font-size: 10px;
  font-size: 1rem;
  color: white;
  font-weight: 400; }

button, .btn {
  background: #F99D88;
  border-radius: 40px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 13px;
  padding: 15px 80px;
  margin: 20px; }

.btn {
  margin: 50px 0 60px 0;
  transition: background 1s, color 1s; }

input.btn:hover, button.btn:hover {
  background: #EFFF9B;
  color: #A7B8B8;
  border: none; }

main {
  background: #F4F4F4; }

.intro {
  padding: 0; }

.counter {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0;
  color: #444444; }

article {
  border-radius: 4px;
  background: white;
  width: calc(33% - 20px);
  margin: 10px; }
  article .miles {
    font-size: 10px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0; }

header.lime {
  background: #EFFF9B;
  border-radius: 4px 4px 0 0;
  min-height: 150px;
  padding: 0 10px 0 10px; }

header.pink {
  background: #F99D88;
  border-radius: 4px 4px 0 0;
  min-height: 150px;
  padding: 0 10px 0 10px; }

header.slate {
  background: #A7B8B8;
  border-radius: 4px 4px 0 0;
  min-height: 150px;
  padding: 0 10px 0 10px; }

p.description {
  font-size: 14px;
  font-size: 1.4rem;
  color: #444444;
  line-height: 21px;
  padding: 20px;
  margin: 0; }

article.moreInfo {
  padding: 0;
  margin: 0; }

article a {
  color: #A7B8B8;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

article a:hover {
  color: #F99D88; }

.moreinfo {
  position: absolute;
  bottom: 0;
  right: 3%;
  text-align: center; }

.footerText p {
  margin: 25px;
  font-size: 12px;
  font-size: 1.2rem;
  color: white;
  opacity: 0.5;
  font-family: PTSerif-Regular;
  line-height: 16px; }

.mainFooter {
  background: #444444;
  margin: 0;
  padding: 100px;
  text-align: center;
  position: relative; }

.top {
  text-decoration: none; }

div.toTop {
  position: absolute;
  right: 25px;
  top: -110px; }
  div.toTop i:hover {
    color: #A7B8B8; }
  div.toTop i {
    color: #444444;
    transition: color 1s; }

div.logo svg {
  fill: #fff;
  width: 75px; }

/* Then we use media queries for targeting other resolutions */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    font-size: 72px;
    font-size: 7.2rem; }
  h2 {
    font-size: 47px;
    font-size: 4.7rem; } }

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
  header {
    /* The file size of this background image is 93% smaller
		* to improve page load speed on mobile internet connections */
    background-image: url(../images/background-photo-mobile-devices.jpg); }
  h1 {
    font-size: 62px;
    font-size: 6.2rem; }
  h2 {
    font-size: 40px;
    font-size: 4rem; }
  .equalHM {
    width: calc(50% - 20px); } }

@media only screen and (max-width: 670px) {
  h1 {
    font-size: 56px;
    font-size: 5.6rem; }
  h2 {
    font-size: 34px;
    font-size: 3.4rem; } }

@media only screen and (max-width: 614px) {
  h1 {
    font-size: 48px;
    font-size: 4.8rem; }
  h2 {
    font-size: 30px;
    font-size: 3rem; } }

@media only screen and (max-width: 610px) {
  .search {
    margin: 5px 0 40px 0; } }

@media only screen and (max-width: 535px) {
  h1 {
    font-size: 44px;
    font-size: 4.4rem; }
  h2 {
    font-size: 26px;
    font-size: 2.6rem; }
  p.subText {
    font-size: 18px;
    font-size: 1.8rem; } }

/* Landscape phones and down */
@media (max-width: 495px) {
  .equalHM {
    width: calc(100% - 20px); }
  h1 {
    font-size: 34px;
    font-size: 3.4rem; }
  h2 {
    font-size: 22px;
    font-size: 2.2rem; }
  p.subText {
    font-size: 16px;
    font-size: 1.6rem; }
  .search {
    margin: 0 0 40px 0; }
  .field1 p.instructions {
    font-size: 12px;
    font-size: 1.2rem; }
  .field2 p.instructions {
    font-size: 12px;
    font-size: 1.2rem; } }
