@import "_setup.scss";

//MIXINS
$ltgrey: #F4F4F4;
$lime: #EFFF9B;
$pink: #F99D88;
$slate: #A7B8B8;
$drkgrey: #444444;

@mixin fontSize($fontSize) {
	font-size: $fontSize * 1px; 
	font-size: ($fontSize / 10) * 1rem;
}

//General Structure
.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 30px;
}

//Flex
.container {
	display: flex;
}
.equalHMWrap {
	justify-content: space-between;
	flex-wrap: wrap;
}
// .topWrap {
	
// }
.equalHM {
	width: calc(33% - 20px);
}
.eq {
	padding: 0px;
}
.hidden {
	color: white;
}
.hide {
	color: white;
	display: none;
}
.show {
	color: white;
	display: block;
}

input:required
{
  border-color: red !important;
}

input:required + label {
  color: red;
}

span.nested {
	position: relative;
}

span.nested img {
	max-width: 25%;
	position: absolute;
	right: 25px;
	bottom: -30px;
}

span.nested input[type=text]:focus + img.gps {
	display: none;
}

// .nested input[type=text] {
// 				padding-right: 20px;
// 			}


label {
  display: block;
}


//Typography
html {
	font-size: 62.5%;
}
body {
	font-size: 1.4rem;
	line-height: 1.7;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
p {
	font-family: 'Droid Serif', serif;
}
h1 {
	@include fontSize(82);
	font-weight: 700;
	color: #FFFFFF;
    line-height: 50px;
    margin: 40px 0 45px 0;
}
h2 {
	@include fontSize(52);
	color: $drkgrey;
	line-height: 55px;
	text-align: center;
	margin: 0 0 0 0;
	padding: 50px 0 0px 0;
}

h3 {
	@include fontSize(18);
	color: $drkgrey;
	font-weight: 700;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: uppercase;
    /* text-align: center; */
    /* margin: 0; */
    padding: 10px 0;
    vertical-align: middle;
}
h4 {
	@include fontSize(10);
	color: $drkgrey;
	font-weight: 400;
	line-height: 15px;
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
}
h5, h6 {
	@include fontSize(14);
	color: $pink;
	letter-spacing: 1px;
	line-height: 17px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding: 0;
}
h6 {
	padding: 0 0 20px 0;
}

p.subText {
	/* Stop wasting time an: */
	@include fontSize(20);
	font-weight: 200;
	opacity: 0.69;
	padding: 0 0 50px 0;
	color: $lime;
	line-height: 26px;
}

// p.instructions {
// 	@include fontSize(12);
// 	font-family: 'Lato', sans-serif;
// 	color: #FFFFFF;
// 	letter-spacing: 0px;
// 	line-height: 15px;	
// }

.show {
	text-align: center;
}

b, strong {
    font-weight: 700;
    color: $pink;
 }

.counter p {
	@include fontSize(12);
	font-family: 'Lato', sans-serif;
	color: #909C9A;
	line-height: 17px;
	margin: 30px 0 20px 0;
}


//Header Section
header {
	/* Location of the image */
	background-image: url(../images/hero-banner.jpg);

	/* Image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Image doesn't repeat */
	background-repeat: no-repeat;

	/* Makes the image fixed in the viewport so that it doesn't move when 
	 the content height is greater than the image height */
	background-attachment: fixed;

	/* This is what makes the background image rescale based on its container's size */
	background-size: cover;

	/* Pick a solid background color that will be displayed while the background image is loading */
	background-color:#464646;
  
	// SHORTHAND CSS NOTATION
	// background: url(background-photo.jpg) center center cover no-repeat fixed;
}

//Top Bar
.topNav {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: space-between;
	padding: 50px 10px 10px 10px;
}
.hamburger .fa {
	color: white;
	font-size: 24px;
}
i.fa {
	transition: color 1s;
}
i.fa:hover {
			color: $lime;
		}
.social {
	color: white;
	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
	    padding: 0 30px 0 0;
	    font-size: 20px;
	    margin: 0;
	    line-height: 0px;
	}
}

#results {
	text-align: center;
}

//Hero Image
.hero {
	    text-align: center;

}
img.logo {
	max-width: 100%;
}

//Form
.mainForm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.field1 {
	justify-content: center;
	margin: 0;
	padding: 0;
	// p {
	// 	@include fontSize(10);
	// 	color: white;
	// 	font-weight: 400;
	// }
		p.instructions {
		@include fontSize(10);
		font-family: 'Lato', sans-serif;
		color: #FFFFFF;
		letter-spacing: 0px;
		line-height: 15px;
		padding: 0 15px 0;	
	}
}

.field2 {
	justify-content: center;
	margin: 0;
	padding: 0;	
	// p {
	// 	@include fontSize(10);
	// 	color: white;
	// 	font-weight: 400;
	// }
		p.instructions {
		@include fontSize(10);
		font-family: 'Lato', sans-serif;
		color: #FFFFFF;
		letter-spacing: 0px;
		line-height: 15px;
		padding: 0 15px 0;	
	}
}

.buttoncontainer {
    width: 100%;
    text-align: center;
    padding: 50px 0 100px 0;
}


input:focus {
    border-style: solid;
    border-color: $pink;
}

input.keywords, .location {
	background: rgba(255, 255, 255, 0.25); 
	border-radius: 40px;
	border-style: none;
	color: white;
	font-family: Montserrat-Regular;
	@include fontSize(14);
	letter-spacing: 0px;
	line-height: 18px;
	padding: 15px;
	margin: 0 20px 0 0;
	padding: 15px 70px 15px 20px;
    margin: 0 30px 0 0;
}
.subText {
	@include fontSize(10);
	color: white;
	font-weight: 400;
}



button, .btn {
	background: $pink;
	border-radius: 40px;
	border-style: none;
	color: white;
	text-transform: uppercase;
	@include fontSize(10);
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 2px;
	line-height: 13px;
    padding: 15px 80px;
    margin: 20px;
}

.btn {
	margin: 50px 0 60px 0;
	transition: background 1s, color 1s;
}

input.btn:hover, button.btn:hover {
		background: $lime;
		color: $slate;
		border: none;
    }

//Main Section
main {
	background: $ltgrey;
}
.intro {
	padding: 0;
}
.counter {
	@include fontSize(14);
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 0 0 20px 0;
	margin: 0;
	color: $drkgrey;
}
article {
	border-radius: 4px;
	background: white;
	width: calc(33% - 20px);
	margin: 10px;
	.miles {
		@include fontSize(10);
		font-family: 'Lato', sans-serif;
		text-align: center;
		padding: 0 0 20px 0;
		margin: 0;
	}
}


header.lime {
	background: $lime;
	border-radius: 4px 4px 0 0;
	min-height: 150px;
    padding: 0 10px 0 10px;
}
header.pink {
	background: $pink;
	border-radius: 4px 4px 0 0;
	min-height: 150px;
    padding: 0 10px 0 10px;
}
header.slate {
	background: $slate;
	border-radius: 4px 4px 0 0;
	min-height: 150px;
    padding: 0 10px 0 10px;
}
p.description {
	@include fontSize(14);
	color: $drkgrey;
    line-height: 21px;
	padding: 20px;
	margin: 0;
}
article.moreInfo {
	padding: 0;
	margin: 0;
}
article a {
	color: $slate;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
article a:hover {
	color: $pink;
}
.moreinfo {
	 position: absolute;
    bottom: 0;
    right: 3%;
    text-align: center;
}

.footerText p{
	margin: 25px;
	@include fontSize(12);
	color: white;
	opacity: 0.5;
	font-family: PTSerif-Regular;
	line-height: 16px;
}

.mainFooter{
	background: $drkgrey;
	margin: 0;
	padding: 100px;
	text-align: center;
	position: relative;
}

.top {
	text-decoration: none;
}

div.toTop {
	position: absolute;
	right: 25px;
	top: -110px;
	i:hover {
		color: $slate;
	}
	i {
		color: #444444;
		transition: color 1s;
	}
}
div.logo svg {
	fill: #fff;
	width: 75px;
}

/* Then we use media queries for targeting other resolutions */
/* Portrait tablet and small desktops */
// @media (min-width: 768px) and (max-width: 940px)
// The above piece of code will only be applied when the width of your browser is greater or equal to 768px and less or equal to 940px
@media (max-width: 940px) {
	h1 {
		@include fontSize(72);
	}
	h2 {
		@include fontSize(47);
	}
}
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
	header {
		/* The file size of this background image is 93% smaller
		* to improve page load speed on mobile internet connections */
		background-image: url(../images/background-photo-mobile-devices.jpg);
	}
	h1 {
		@include fontSize(62);
	}
	h2 {
		@include fontSize(40);
	}
	.equalHM {
		width: calc(50% - 20px);
	}
}

@media only screen and (max-width: 670px) {
	h1 {
		@include fontSize(56);
	}
	h2 {
		@include fontSize(34);
	}
	// .buttoncontainer {
	// 	padding: 25px 0 160px 0;
	// }
	// .search {
	// 	margin: 10px 0 60px 0;
	// }
}

@media only screen and (max-width: 614px) {
	h1 {
		@include fontSize(48);
	}
	h2 {
		@include fontSize(30);
	}
}

@media only screen and (max-width: 610px){
	.search {
		margin: 5px 0 40px 0;
	}
}

@media only screen and (max-width: 535px) {
	h1 {
		@include fontSize(44);
	}
	h2 {
		@include fontSize(26);
	}
	p.subText {
		@include fontSize(18);
	}
}

/* Landscape phones and down */
@media (max-width: 495px) {
	.equalHM {
		width: calc(100% - 20px);
	}
	h1 {
		@include fontSize(34);
	}
	h2 {
		@include fontSize(22);
	}
	p.subText {
		@include fontSize(16);
	}
	.search {
		margin: 0 0 40px 0;
	}
	.field1 p.instructions {
		@include fontSize(12);
	}
	.field2 p.instructions {
		@include fontSize(12);
	}
}